@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital@0;1&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto';
}
/* header section */
.header{
    background-image:url(images/banner/banner1.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    width:100%;
    height:100vh;
}
/* banner section */
.banner{
    text-align:right;
}
.banner-title{
    font-size: 85px;
    font-weight: 800;
    padding-right:300px;
    padding-top: 300px;
}
.banner-description{
    font-size: 20px;
    padding-right: 300px;
    padding-top: 30px;
}
/* button section */
.btn-contact{
    padding-right: 300px;
    padding-top: 40px;
}
.btn-primary{
    color: white;
    background-color: darkorange ;
    border:0;
    border-radius: 7px;
    font-size: 27px;
    height: 80px;
    padding: 10px 30px;
    font-weight: 700;
}
/* main section */
/* .section-about{
    align-items: center;
}  */
.about-container{
    display: flex;
    gap: 10px;
}
.about-1{
    margin-left: 200px;
}
.about{
    padding-left: 206px;
    padding-top: 100px;
} 
.about-title{
    margin-top: 150px;
    font-size: 65px;
    font-weight: 800;
}
.about-description{
  font-size: 22px;
  color: #707070;
  padding-top: 30px;
  padding-bottom: 25px;
}
.about-list{
    font-size: 22px;
    color: #707070;
}
.about-img{
    height: 5000px;
}
/* plan section */
.plan-section{
    padding-top: 100px;
}
.plan{
    font-size: 50px;
    text-align: center;
    padding-bottom: 70px;
}
.plan-container{
    display: flex;
    justify-content: space-evenly;
}
.plan-i{
    text-align: center;
}
.plan-title{
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 10px;
}
.sub-title{
    font-size:25px ;
    color: #707070;
    padding-bottom: 80px;
}
/* talent section */
.talent-head{
    text-align: center;
    font-size: 45px;
    padding-bottom: 50px;
}
.talent-container{
    display: flex;
    justify-content: space-evenly;
}
.talent{
    border-radius: 10px;
    padding: 80px 90px 40px 90px;
    background-color: rgb(252, 252, 238);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.06);
}
.talent-title{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}
/* gradient img */
.btn-call{
    color: darkorange;
    background-color: rgb(255, 255, 255) ;
    border:none;
    border-radius: 7px;
    font-size: 27px;
    height: 50px;
    padding: 5px 20px;
    font-weight: 700;
    margin-top:35px ;
}
.call-img{
    background-image: url(images/watch.png);
    /* background-repeat: no-repeat; */
    margin: 100px 400px;
    height: 250px;
    width: 1100px;
    color: white;
    font-weight: bolder;
    display: flex;
    position: relative;
    border-radius: 10px;
    
}
.gradient-img{
    position:absolute ;
    height: 100%;
    width: 100%;
}
.call-box{
    margin: 40px 30px;
    font-size:25px;
    z-index: 1;
}
/* footer section */
.footer-container{
    display: flex;
    justify-content: space-between;
}
footer{
    background-color: black;
}
.footer{
   color: white;
   padding-top: 100px;
   padding-bottom: 100px;
}
.footer-1{
    padding-left: 350px;
}
.footer-2{
    padding-right: 400px;
}
.footer-title{
    font-size: 70px;
    font-weight: 700;
    padding-bottom: 15px;
}
.footer-description{
    font-size: 20px;
    padding-bottom: 25px;
}
.footer-info{
    font-size: 20px;
    padding-bottom: 30px;
}
.footer-img{
    display: flex;
    gap: 35px;
}
.footer-title-2{
    
    font-size: 50px;
    padding-bottom: 25px;
}
.footer-email{
    display: block;
    background-color: rgb(22, 22, 22);
    font-size: 25px;
    color: white;
    padding:15px;
    margin-bottom: 25px;
    border: 1px solid white ;
    border-radius: 10px;
}
.footer-btn{
    color: darkorange;
    background-color: rgb(255, 255, 255) ;
    border:0;
    border-radius: 7px;
    font-size: 27px;
    height: 60px;
    padding: 5px 20px;
    font-weight: 700;
}
.hr{
    display: flex;
}